//MARGEM
$margin-default: 10px;
.mb-180 {
    margin-bottom: $margin-default * 18;
}

.mb-140 {
    margin-bottom: $margin-default * 14;
}

.mb-120 {
    margin-bottom: $margin-default * 12;
}

.mb-100 {
    margin-bottom: $margin-default * 10;
}

.mb-80 {
    margin-bottom: $margin-default * 8;
}

.mb-60 {
    margin-bottom: $margin-default * 6;
}

.mb-50 {
    margin-bottom: $margin-default * 5;
}

.mb-40 {
    margin-bottom: $margin-default * 4;
}

.mb-30 {
    margin-bottom: $margin-default * 3;
}

.mb-20 {
    margin-bottom: $margin-default * 2;
}

.mb-15 {
    margin-bottom: $margin-default * 1.5;
}

.mb-10 {
    margin-bottom: $margin-default * 1;
}

.mt-140 {
    margin-top: $margin-default * 14;
}

.mt-80 {
    margin-top: $margin-default * 8;
}

.mt-60 {
    margin-top: $margin-default * 6;
}

.mt-50 {
    margin-top: $margin-default * 5;
}

.mt-40 {
    margin-top: $margin-default * 4;
}

.mt-30 {
    margin-top: $margin-default * 3;
}

.mt-20 {
    margin-top: $margin-default * 2;
}

.mt-15 {
    margin-top: $margin-default * 1.5;
}

.mt-10 {
    margin-top: $margin-default * 1;
}

.mt-5 {
    margin-top: $margin-default * 0.5;
}

.mt-0 {
    margin-top: 0;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

.pt-10 {
    padding-top: $margin-default * 1;
}

.pb-10 {
    padding-bottom: $margin-default * 1;
}

.pt-20 {
    padding-top: $margin-default * 2;
}

.pb-20 {
    padding-bottom: $margin-default * 2;
}

.mr-10 {
    margin-right: $margin-default * 1;
}

@media (max-width: 1441px) {
    .mb-180 {
        margin-bottom: $margin-default * 10;
    }
}

@media (max-width: 1280px) {
    .mb-180 {
        margin-bottom: $margin-default * 13;
    }
}

@media (max-width: 768px) {
    .mt-60 {
        margin-top: $margin-default * 1;
    }
    .mb-180 {
        margin-bottom: $margin-default * 8;
    }
}